<!----------- Модуль 10. Приклад 1. Робота з публічним REST API------------------>
<!-- <button type="button" class="btn">Fetch users</button>
<ul class="user-list"></ul> -->

<!----------- Модуль 10. Приклад 4. Пагінація------------------>
<!-- <button type="button" class="btn">Fetch posts</button>
<ul class="posts"></ul> -->

<!----------- Модуль 10. Приклад 5. Прийом «Завантажити ще»------------------>
<!-- <div class="alert">We're sorry, there are no more posts to load</div>
<ul class="posts"></ul>
<button type="button" class="btn">Fetch posts</button> -->
